.card {
  background-color: $primary-light-30;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  transition: all 0.2s;

  img,
  &__image {
    max-height: 10rem;
    max-width: 70vw;
    border-radius: 1rem;
  }

  &__row {
    margin-top: 1rem;
  }

  &:hover {
    transform: scale(1.03);
    background-color: $secondary-main;
    color: $neutral-dark;
  }
}
