// UTILITIES

/*TEXT*/
.text-center {
  text-align: center;
}

/*BORDER*/
.r-15 {
  border-radius: map-get($sizes, 5);
}

/*SIZING*/
.p-4 {
  padding: map-get($sizes, 4);
}

/*POSITIONING*/

@mixin flex-container(
  $direction: row,
  $justify: start,
  $align: stretch,
  $gap: 0
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

/*COLORING*/

.success {
  color: $color-success;
}
.success {
  color: $color-success;
}

// CARDS

@mixin cardMix($backgroud-color, $color: "inherit") {
  @extend .r-15, .p-4;
  background-color: $backgroud-color;
  color: $color;
  height: 100%;
}

.card {
  @include cardMix($primary-light-30);
}

.card--bank {
  @extend .card;
  @include flex-container(column, center, center, 0.8rem);
  transition: all 0.2s;
  height: 15rem;

  &__image {
    @extend .r-15;
    max-height: 8rem;
    max-width: 12rem;
  }

  &:hover {
    transform: scale(1.02);
    background-color: $secondary-main;
    color: $neutral-dark;
  }
}

// MODALS

@mixin modalMix($width) {
  @extend .text-center, .r-15, .p-4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  width: $width;
  height: fit-content;
}

.modal {
  @include modalMix(400px);
  background-color: $secondary-dark;
  .MuiSvgIcon-root {
    font-size: 50px;
  }
}

.MuiAppBar-root {
  .MuiToolbar-root {
    color: $neutral-dark;
  }
}
