$primary-main: #CE7DEF;
$primary-light: #E6C7F2;
$primary-dark: #613A70;
$secondary-main: #65F0B2;
$secondary-light: #AEF2D4;
$secondary-dark: #2F7053;
$neutral-light: #cdc9ce;
$neutral-medium: #686569;
$neutral-dark: #2e2e2e;
