$primary-main: #ce7def;
$primary-light: #e6c7f2;
$primary-light-30: rgba(230, 199, 242, 0.3);
$primary-dark: #613a70;
$secondary-main: #65f0b2;
$secondary-light: #aef2d4;
$secondary-dark: #2f7053;
$neutral-light: #cdc9ce;
$neutral-medium: #686569;
$neutral-dark: #2e2e2e;
